.join-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.join-wrap input, .join-wrap span > input {
    width: 24em;
}
.join-wrap input, input::placeholder {
    font-size: 12px;
}
